// sass-lint:disable no-color-keywords; no-color-hex

@import '../../node_modules/open-color/open-color.scss';

// Base colors.
$black:                  $oc-gray-9;
$nearblack:              $oc-gray-8;
$grey-dark:              $oc-gray-7;
$grey:                   $oc-gray-5;
$grey-light:             $oc-gray-3;
$grey-extra-light:       $oc-gray-1;
$white:                  $oc-gray-0;

$blue:                   #5073a5;
$red:                    #da402f;
$green:                  #4cbc38;
$yellow:                 #ffbe0a;

// Colors used in the main content area.
$brand:                  #b6783e;
$brand-alt:              #978d72;
$brand-dark:             #895a2f;
$brand-darker:           #6a4624;
$brand-near-black:       #2e1e10;
$brand-light:            #d0a276;
$brand-extra-light:      #e5cbb3;
$brand-near-white:       #f5eae1;
$brand-white:            #faf5f0;
$text:                   $black;
$text-bg:                $brand-white;
$text-meta:              $grey-dark;

$link:                   $brand-dark;
$link-visited:           $brand-darker;
$link-hover:             $brand;
$link-active:            $red;

$border:                 $grey-light;
$border-dark:            $nearblack;

$autocomplete:           $text;
$autocomplete-bg:        $text-bg;
$autocomplete-select:    $white;
$autocomplete-select-bg: $blue;

$body-bg:                $brand-white;
$header-bg:              $brand;
$backdrop:               $brand-near-white;

$mobile-menu:            $header-bg;
$mobile-menu-cover:      rgba($brand-near-black, .2);

$button:                 $brand-near-black;
$button-disabled:        $grey;

$form-error:             $red;

$mark-highlight:         $red;
$mark-bg:                $yellow;

$menu-active:            $text;

$preview-bg:             lighten($yellow, 43%);

$row-stripe:             $white;
$row-disabled:           $grey-light;

$status:                 $green;
$status-bg:              lighten($status, 62%);
$status-highlight:       $text;
$warning:                $text;
$warning-bg:             lighten($yellow, 45%);
$warning-border:         $yellow;
$error:                  $red;
$error-bg:               lighten($error, 57%);

$watermark:              $grey-extra-light;

$headings:               $brand-near-black;

$code:                   $brand-near-black;
